.container-movie {
  margin-top: 82px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.container-movie-video {
  border: none;
  width: 100%;
}
.movie-video {
  border: none;
  width: 100%;
  height: 360px;
}

.container-movie-details {
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.title-movie {
  font-size: 32px;
  margin-bottom: 16px;
  font-weight: bold;
}
.container-generos {
  display: flex;
  gap: 12px;
  font-size: 24px;
  align-items: center;
  font-weight: 800;
  flex-wrap: wrap;
}

.item-genero {
  color: #ffffff;
  font-size: 20px;
}
.title-overview {
  margin: 2rem 2rem;
  padding: 27px 19px;
  font-size: 1.5rem;
  animation-duration: 3s;
  animation-name: slidein;
}
.title-vote {
  border-radius: 50%;
  background: yellow;
  color: black;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: -20px;
  left: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-vote span {
  text-align: center;
  font-weight: bold;
}
.btn-addFavorites {
  position: absolute;
  bottom: 0;
  left: 10%;
  cursor: pointer;
  background: yellow;
  font-weight: bold;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  background: rgb(255, 126, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 126, 0, 1) 0%,
    rgba(255, 116, 32, 1) 50%,
    rgba(236, 7, 9, 1) 100%
  );
  border: none;
  color: white;
}
.btn-addFavorites:hover,
.btn-addFavorites:active {
  border: 1px solid white;
}

@media (min-width: 52rem) {
  .container-movie {
    flex-direction: row;
  }
  .title-vote {
    left: 50%;
  }
}

@keyframes slidein {
  from {
    margin-right: -300%;
    width: 300%;
    font-size: 150%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
